/* styles.css */

body {
    background-color: #f8f9fa;
}
/*
.container {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 10px;
}*/

.table thead th {
    background-color: #343a40;
    color: #ffffff;
    border-color: #454d55;
}

.table tbody td {
    background-color: #f8f9fa;
    border-color: #000000; /* Agrega este estilo para el color del borde de las celdas */
    
}
.centrar-contenido {
    text-align: center;
    vertical-align: middle;
}
