
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBarraMenu.cshtml";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Universitario</title>
    <link rel="stylesheet" href="~/Content/PantallaInicio.css">
</head>
<body>

    <header>
        <div class="container">
            <h1>Bienvenido al Sistema Universitario v1.0</h1>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="welcome-message">
                <h2>Hola, [Nombre del Usuario]</h2>
                <p>Te damos la bienvenida al sistema universitario. Aquí podrás acceder a toda la información académica de manera fácil y rápida.</p>
            </div>

            <div class="user-info">
                <p>Nombre del Usuario: [Nombre del Usuario]</p>
                <p>Rol: [Rol del Usuario]</p>
            </div>
        </div>
    </main>
</body>
</html>

